.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 10px;
    justify-content: space-around;
    align-self: center;
    position: relative;
    padding-top: 60px;
}

@media (min-width: 320px) {
    .grid-container {
        grid-template-columns: repeat(1, 1fr);
        justify-content: space-around;
        align-self: center;
    }

    .card {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 300px;
        height: 100%;
        margin: 0 auto;
        box-shadow: 2px 4px 4px 0 rgba(0, 0, 0, 0.2);
        padding: 16px;
        text-align: center;
        background-color: white;
        border-radius: 30px;
        font-family: "Poppins", sans-serif;
    }
}

@media (min-width: 600px) {
    .grid-container {
        grid-template-columns: repeat(2, 1fr);
        justify-content: space-around;
        align-self: center;
    }

    .card {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
        min-width: 231px;
        height: 450px;
        box-shadow: 2px 4px 4px 0 rgba(0, 0, 0, 0.2);
        padding: 16px;
        text-align: center;
        background-color: white;
        border-radius: 30px;
        font-family: "Poppins", sans-serif;
    }
}

@media (min-width: 768px) {
    .grid-container {
        grid-template-columns: repeat(2, 1fr);
        justify-content: space-around;
        align-self: center;
    }
    .card {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
        min-width: 310px;
        height: 450px;
        box-shadow: 2px 4px 4px 0 rgba(0, 0, 0, 0.2);
        padding: 16px;
        text-align: center;
        background-color: white;
        border-radius: 30px;
        font-family: "Poppins", sans-serif;
    }
}

@media (min-width: 900px) {
    .grid-container {
        grid-template-columns: repeat(2, 1fr);
        justify-content: space-around;
        align-self: center;
    }

    .card {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
        min-width: 150%;
        height: 450px;
        box-shadow: 2px 4px 4px 0 rgba(0, 0, 0, 0.2);
        padding: 16px;
        text-align: center;
        background-color: white;
        border-radius: 30px;
        font-family: "Poppins", sans-serif;
    }
}

@media (min-width: 1200px) {
    .grid-container {
        grid-template-columns: auto auto auto auto;
        justify-content: space-around;
        align-self: center;
    }

    .card {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        min-width: 100%;
        height: 450px;
        margin: 0 auto;
        box-shadow: 2px 4px 4px 0 rgba(0, 0, 0, 0.2);
        padding: 16px;
        text-align: center;
        background-color: white;
        border-radius: 30px;
        font-family: "Poppins", sans-serif;
    }
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    max-width: 210px;
    height: 450px;
    margin: 0 auto;
    box-shadow: 2px 4px 4px 0 rgba(0, 0, 0, 0.2);
    padding: 16px;
    text-align: center;
    background-color: white;
    border-radius: 30px;
    font-family: "Poppins", sans-serif;
}

.subtitle {
    font-size: 1rem;
    font-weight: bold;
    color: #333;
    padding-bottom: 0.25rem;
    padding-top: 0.5rem;
    font-family: "Poppins", sans-serif;
}

.card-image {
    width: 250px;
    height: 250px;
}

.fast-delivery {
    padding-top: 0.25rem;
    font-family: "Poppins", sans-serif;
    padding-bottom: 0.5rem;
}

.product-in-stock {
    color: green;
    font-family: "Poppins", sans-serif;
    margin-bottom: 5px;
    font-weight: 500;
}

.product-out-of-stock {
    color: red;
    font-family: "Poppins", sans-serif;
    margin-bottom: 5px;
    font-weight: 500;
}
