.nav-container {
    min-width: 100%;
    min-height: 4rem;
    background-color: #8095ff;
    position: fixed;
    top: 0;
    z-index: 999;
}

@media (min-width: 768px) {
    .nav-container {
        min-width: 100%;
        min-height: 4rem;
        background-color: #8095ff;
        position: fixed;
        top: 0;
        z-index: 999;
    }
}

@media (min-width: 320px) {
    .nav-container {
        width: 150px;
        min-height: 4rem;
        background-color: #8095ff;
        position: fixed;
        top: 0;
        z-index: 999;
    }

    .nav-items {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        height: 100%;
        gap: 20px;
    }

    .nav-title {
        font-size: 0.8rem;
        margin-left: 0.75rem;
    }
}

@media (min-width: 600px) {
    .nav-title {
        font-size: 0.8rem;
        margin-left: 1.75rem;
    }
}

.nav-items {
    display: flex;
    justify-content: space-around;
    align-items: center;
    transform: translateY(25%);
    list-style: none;
    position: relative;
    left: -2.5%;
}

.nav-item {
    text-decoration: none;
    color: #282d31;
    font-family: "Poppins", sans-serif;
}

.search-bar {
    width: 500px;
}

.search-bar > input {
    margin: 0 auto;
    width: 100%;
    height: 2rem;
    border: none;
    border-radius: 5px;
    background-color: #f5f5f5;
    text-align: center;
    font-family: "Poppins", sans-serif;
}

@media (min-width: 768px) {
    .nav-title {
        font-size: 1rem;
        margin-left: 0.45rem;
    }
}
